{% extends 'base.html' %}

{% block title %}
Fuck tips and tax!
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="form-group">
            <button type="button" class="btn btn-primary btn-block" id="createButton">Create a Session</button>
        </div>
        <div class="input-group">
            <input type="number" class="form-control" placeholder="Token" id="tokenText">
            <input type="text" class="form-control" placeholder="Individual Amount" id="individualAmountText">
            <span class="input-group-append">
                <button type="button" class="btn btn-info" id="joinButton">Join a Session</button>
            </span>
        </div>
    </div>
</div>
<script>
    function join(e) {
        if (e.keyCode == 13)
            $('#joinButton').click();
    }
    $(window).ready(() => {
        $('#joinButton').click(() => {
            window.location.href = '{{ url_for("index") }}' + $('#tokenText').val() + '?individual=' + encodeURIComponent($('#individualAmountText').val());
        });
        $('#createButton').click(() => {
            window.location.href = '{{ url_for("create") }}';
        });
        $('#tokenText').keypress(join);
        $('#individualAmountText').keypress(join);
    });
</script>
{% endblock %}
